# Advanced Numbers
More functions for the numeric data type

In [40]:
hex(123)

'0x7b'

In [41]:
bin(123)

'0b1111011'

In [42]:
2**4

16

In [43]:
pow(2,4)

16

In [44]:
pow(2,4,3)

1

In [45]:
abs(-2)

2

In [46]:
round(3.7)

4

# Advanced String

### Formatting type methods:

In [47]:
s = 'Hello World'

In [48]:
s.capitalize()

'Hello world'

In [49]:
s.title()

'Hello World'

In [50]:
s.upper()

'HELLO WORLD'

In [51]:
s.count('o')

2

### is check methods

In [52]:
s1='hello'

In [53]:
s1.isalnum()

True

In [54]:
s1.isalpha()

True

In [55]:
s1.islower()

True

In [59]:
' '.isspace()

True

In [60]:
s.endswith('d')

True

### built-in Regex methods

In [62]:
s[-1]=='d'

True

In [63]:
s.split('o')

['Hell', ' W', 'rld']

In [65]:
s.partition('ll')

('He', 'll', 'o World')

# Advanced Sets

In [66]:
s = set()

In [70]:
s.add(1)
s.add(2)
s.add(3)

In [71]:
s

{1, 2, 3}

In [72]:
sc = s.copy()

In [73]:
sc

{1, 2, 3}

In [75]:
sc.add(5)
sc.add(6)

In [76]:
sc

{1, 2, 3, 5, 6}

### Methods to identify differences between two sets
_Returns difference between two sets_

In [78]:
sc.difference(s)

{5, 6}

In [79]:
s_1 = {1,2,3,4,5}
s_2 = {1,3,5,7}

_Removes all common elements_

In [80]:
s_1.difference_update(s_2)

In [82]:
s_1

{2, 4}

_Removes one element_

In [83]:
s_1.discard(4)

In [84]:
s_1

{2}

_Only Returns common elements between two sets:_

In [96]:
set_1 = {1,2,3,4}
set_2 = {4,5,6,7}

In [87]:
set_1.intersection(set_2)

{4}

_Also updates the set after intersecting:_

In [98]:
set_1.intersection_update(set_2)

In [99]:
set_1

{4}

_Check if two sets are disjoint set:_

In [100]:
s

{1, 2, 3}

In [101]:
set_1

{4}

In [102]:
s.isdisjoint(set_1)

True

In [103]:
set_2

{4, 5, 6, 7}

In [104]:
s.issubset(set_2)

False

In [105]:
s.union(set_2)

{1, 2, 3, 4, 5, 6, 7}

In [107]:
s.update(set_2)

In [108]:
s

{1, 2, 3, 4, 5, 6, 7}

# Advanced Dict

In [109]:
d = {'k1':1,'k2':2,'k3':3}

In [111]:
# Returns tuples of key:value pairsL
for k in d.items():
    print(k)

('k1', 1)
('k2', 2)
('k3', 3)

In [113]:
d.values()

dict_values([1, 2, 3])

In [114]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

# Advanced List

In [118]:
l = [1,2,3,4,5,6,1,1]

In [119]:
l.count(1)

3

In [121]:
x = [1,2,3]

In [122]:
x.append([4,5])

In [123]:
x

[1, 2, 3, [4, 5]]

But we want to add the elements 4,5 and not list [4,5]

In [124]:
x = [1,2,3,]

In [125]:
x.extend([4,5,6])

In [126]:
x

[1, 2, 3, 4, 5, 6]

_Insert elements to a list at a particular location:_

In [127]:
x.insert(2,'newElement')

In [128]:
x

[1, 2, 'newElement', 3, 4, 5, 6]

In [129]:
rem_element = x.pop()

In [130]:
rem_element

6

In [131]:
x

[1, 2, 'newElement', 3, 4, 5]

In [132]:
x.pop(2)

'newElement'

In [133]:
x

[1, 2, 3, 4, 5]