### Python Condition Statements
Useful for controlling the logical flow of the statements based on the conditions specified in the code.<br><br>

Logic control flow in python makes use of colons & indentations -- this is unique to python compared to other languages that make use of brackets.

### A) <code>if-elif-else</code> statements:

In [1]:
a=6.6
if a>10:                    #this is evaluated as a true/false condition
    print('its true!')      #if the if-condition is true, then do this
else:                       #else, do this without evaluating. NO conditional statement here
    print('its NOT true')

its NOT true

Multiple logical branches:

In [6]:
loc='Store'

if loc=='Auto shop':
    print('Cars are cool!')
elif loc=='bank':
    print('Money is cool')
elif loc=='Store':
    print('Welcome to THe Store')
else:
    print('nah!')

Welcome to THe Store

**NOTE:** indentations are important

In [13]:
name='Stanley'
if name=='Jim':
    print('Hello Halpert')
elif name=='Pam':
    print('Hello Beasley')
else:
    print('Why are you the way you are?')

Why are you the way you are?

### B) The <code>for</code> loop:

In [52]:
mylist=[1,8,7,3,4,5,6]

In [53]:
for num in mylist:
    print(num)

1
8
7
3
4
5
6

In [54]:
for num in mylist:
    if num%2==0:
        print(f'{num} is even')
    else:
        print(f'{num} is odd')

1 is odd
8 is even
7 is odd
3 is odd
4 is even
5 is odd
6 is even

In [22]:
sum_list = 0

for num in mylist:
    sum_list=sum_list+num   
    print(sum_list)         #Note that indentation of the print clause matters

1
3
6
10
15
21
28
36

In [23]:
my_string='Hello world'
for letter in my_string:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [24]:
for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [27]:
for _ in 'Hello world':
    print(_)

H
e
l
l
o

w
o
r
l
d

In [28]:
tup=(1,2,3,4)
for item in tup:
    print(item)

1
2
3
4

**Tuple unpacking**: accessing individual elements from a Tuple nested within a List

In [35]:
my_list=[(1,2),(3,4),(5,6),(7,8)]

In [33]:
len(my_list)

4

In [40]:
for a,b in my_list:
    print(f'{a} is an odd no.')
    print(f'{b} is an even no.')

1 is an odd no.
2 is an even no.
3 is an odd no.
4 is an even no.
5 is an odd no.
6 is an even no.
7 is an odd no.
8 is an even no.

In [41]:
lmnt=[(1,2,3),(4,5,6),(7,8,9)]

In [42]:
for a,b,c in lmnt:
    print(b)

2
5
8

**Iterating through a dict:** Note that for loop will conduct an operation on the keys by default. <br>
To access the value of each of the key, we use the <code>.items()</code> operator. <br>
The concept is similar to unpacking of tuple seen above.

In [43]:
d={'k1':1,'k2':2,'k3':3,'k4':4}

for item in d:
    print(item)

k1
k2
k3
k4

In [44]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)
('k4', 4)

In [51]:
for val in d.values():
    print(val)

1
2
3
4

In [55]:
for item,value in d.items():
    print(f'{item} contains {value}')

k1 contains 1
k2 contains 2
k3 contains 3
k4 contains 4

### C) The <code>while</code> loop:

In [66]:
x=0
print(f'starting val is {x}')
while x<5:  #while this is true, do this...
    print(f'the current val is {x}')
    x+=1    #until this is true...
else:       #Else do this ...
    print('x is not less than 5')

starting val is 0
the current val is 0
the current val is 1
the current val is 2
the current val is 3
the current val is 4
x is not less than 5

**Keywords for Loops:**
<code>break</code> , <code>continue</code> , <code>pass</code>

### <code>break</code> <code>continue</code> <code>pass</code>
break: Breaks out of the current closest enclosing loop.<br>
continue: Goes to the top of the closest enclosing loop.<br>
pass: Does nothing at all.

In [7]:
b=[1,2,3,4]

for item in b:
    #comment
    pass        #Introducing as a placeholder
print('end of script')

end of script

In [25]:
c='Sammy'

In [11]:
for item in c:
    if item=='m':
        continue        #means to go back to the top and based on conditional, go to next line
    print(item)

S
a
y

In [12]:
for item in c:
    if item=='m':
        break        #stops & comes out of the loop
    print(item)

S
a

In [21]:
x=0

while x<5:
    if x==2:         #stops & comes out of the loop if condition matches
        break
    print(x)
    x+=1

0
1

### Other useful operators

### <code>range()</code> operator
Starting from x go all the way upto y, but excluding y<br>
<code>range([start], stop[, step])</code><br>
We can also include step size

In [16]:
alist=[1,2,3,4,5]

In [17]:
alist

[1, 2, 3, 4, 5]

In [20]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

<code>range()</code> is a sort of a generator function.

In [2]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

___
### The <code>enumerate</code> & <code>zip</code> are powerful funcs for packing & unpacking tuples

### <code>enumerate()</code> func

Below code is one way to print all letters along with their index<br>
So, to  have a counter for each iteration of the <code>for</code> loop,we create a running index counter (index_count variable) that will increase on each iteration

In [24]:
word='abcdefg'
index_count=0

for letter in word:
    print(f'At index {index_count} ,the letter is {letter}')
    index_count+=1

At index 0 ,the letter is a
At index 1 ,the letter is b
At index 2 ,the letter is c
At index 3 ,the letter is d
At index 4 ,the letter is e
At index 5 ,the letter is f
At index 6 ,the letter is g

Another way could be to use a *list* index[] method. So again we end up calling a running value (the index_count)

In [33]:
word1='abcd'
index_count=0
for letter in word1:
    print(f'At index {index_count} ,the letter is {word1[index_count]}')
    index_count+=1

At index 0 ,the letter is a
At index 1 ,the letter is b
At index 2 ,the letter is c
At index 3 ,the letter is d

The need for a running index value can be eliminated &code can be made even simpler using the <code>enumerate()</code> func.<br>
***It returns an indexed list of tuples***

In [38]:
word2='abcde'
for index in enumerate(word2):
    print(index)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

Below statement will unpack the tuple into its constituent values which can then be called as per requirement

In [11]:
word2='abcde'
for index,value in enumerate(word2):
    print(index,value)

0 a
1 b
2 c
3 d
4 e

There are further ways the result can be unpacked:

In [41]:
word3='qwerty'
for index,value in enumerate(word3):
    print(index,value)
    print('\n')

0 q


1 w


2 e


3 r


4 t


5 y

### <code>zip()</code> func

Its used to combine *(or zip)* multiple iterables (such as lists, tuples, or strings) element-wise into a single iterable.<br>
It returns an iterator of tuples where the <code>*i-th*</code> tuple contains the <code>*i-th*</code> element from each of the input iterables

**NOTE:** null (NONE) values from one list can also be combined/zipped with values of another list

In [19]:
mylist1=['a','b','c','d','e',None,None]
mylist2=[1,2,3,4,5,6,7]

for item in zip(mylist1,mylist2):
    print(item)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)
(None, 6)
(None, 7)

The resulting tuple can also be converted into a list

In [ ]:
asd=list(zip(mylist1,mylist2))
for each in asd:
    print(each)

In [45]:
asd=list(zip(mylist1,mylist2))
for each in asd:
    print(each)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)
(None, 6)
(None, 7)

### <code>in</code> operator

Its used to check whether a value exists within a sequence (such as a list, tuple, string, or set). It returns <code>True</code> if the value is found in the sequence and <code>False</code> otherwise. The in operator is commonly used in conditional statements, loops, and membership tests.

In [46]:
'x' in ['a','b','x','y']

True

In [47]:
'o' in "Hello world"

True

In [12]:
d9={'a':1,'b':23,'c':567}

In [19]:
2 in d9.values()

False

### <code>min</code> & <code>max</code> operators
Provide the min & max values of a list

In [2]:
a5=[23,456,789,70,40,809]

In [3]:
a5

[23, 456, 789, 70, 40, 809]

In [4]:
print(f'minimum val of the list a5 is _{min(a5)}_ & maximum value is {max(a5)}')

minimum val of the list a5 is _23_ & maximum value is 809

### Importing the <code>random</code> library

Importing the <code>random()</code> func to generate a random floating integer between 0.0 to 1.0

In [20]:
from random import random

In [22]:
random()

0.6950005238013018

In [69]:
from random import shuffle

Here we imported <code>shuffle()</code> func that randomly shuffles the items of a list

In [79]:
shuffle(a5)

In [80]:
a5

[40, 23, 456, 809, 789, 70]

<code>randint()</code> func generates a random integer value

In [81]:
from random import randint

In [82]:
randint(0,10)

3

### <code>input</code> func to accept user input
**NOTE:** the user-input is stored as String data type

In [26]:
entered_value=input('Enter a value')
print(entered_value)

33

In [30]:
type(entered_value)

str

So we might have to cast the user-input into a float/ int data type etc.

In [33]:
x=float(entered_value)

In [34]:
type(x)

float

**A more concise method to achieve above result:**

In [37]:
user_input=float(input('ENTER VALUE:'))
print(user_input)

234.56

In [38]:
type(user_input)

float

___
## List comprehensions
List comprehensions are a concise way to create lists in Python using a single line of code.

Oldschool method: start with an iterable like a string ; then declare an empty list & then use a <code>for</code> loop to append each char into the empty list declared earlier

In [39]:
mychar='hello world'

In [43]:
mylist5=[]
for letter in mychar:
    mylist5.append(letter)
print(mylist5)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

___
**Now using List comprehension:** its the same logic used above , but flatened out in a **single line of code**

<code>List=[value for value in *another iterable object(string/list)*]</code>

In [45]:
mylist5=[letter for letter in mychar]
print(mylist5)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [47]:
mylist6=[x for x in 'john wick']
print(mylist6)

['j', 'o', 'h', 'n', ' ', 'w', 'i', 'c', 'k']

**Practical example:** create a list of numbers from a particular range (say,11-20)

In [50]:
mylist7=[num for num in range(11,21)]
print(mylist7)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

More complex results can be achieved by performing required operations on the values...<br>
**Practical example:** create a list of square of numbers from a particular range (say,11-20)

In [54]:
mylist8=[num**2 for num in range(11,21)]
print(mylist8)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

**Practical example:** create a list of only **even** numbers from a particular range (say,11-20)

In [56]:
mylist9=[num for num in range(11,21) if num%2==0]
print(mylist9)

[12, 14, 16, 18, 20]

In [59]:
nlist=[num for num in range(11,21) if num%2!=0]
print(nlist)

[11, 13, 15, 17, 19]

**Practical example:** convert list of temperatures in **DegC to DegF**

In [76]:
degC=[21,24,27,20,23]

degF=[round(((9/5)*val+32),2) for val in degC]
print(degF)

[69.8, 75.2, 80.6, 68.0, 73.4]

If same result was to be achieved in a <code>for</code> loop

In [66]:
degC1=[21,24,27,20,23]

In [74]:
degF1=[]

for val in degC1:
    degF1.append(round((9/5)*val+32,2))
print(degF1)

[69.8, 75.2, 80.6, 68.0, 73.4]

### Further operations using List Comprehension
Using <code>if-else</code> statements in LCs. Create a list of **only even numbers from 11-20** print 'Odd' in place of odd numbers.<br>
The readability becomes a little tough because in <code>if-else</code> statement the order of statements is bit changed.<br>
So, its important to ensure good readability in LC

In [78]:
xlist = [x if x%2==0 else 'Odd' for x in range(11,21)]
print(xlist)

['Odd', 12, 'Odd', 14, 'Odd', 16, 'Odd', 18, 'Odd', 20]

In [85]:
for index in xlist:
    print(index)

Odd
12
Odd
14
Odd
16
Odd
18
Odd
20

### Nested loops can also be implemented in LC

Below is the longer method using <code>for</code> loop

In [86]:
ml1=[]

for x in [2,3,4]:
    for y in [100,200,300]:
        ml1.append(x*y)

print(ml1)

[200, 400, 600, 300, 600, 900, 400, 800, 1200]

Each element of one list is multiplied by every element of the other list.<br>
<br>
**Now, Implementing above logic in LC (but do note that readibility is impacted)**

In [88]:
ml5=[x*y for x in [2,3,4] for y in [100,200,300]]
print(ml5)

[200, 400, 600, 300, 600, 900, 400, 800, 1200]