In [1]:
2+6

8

In [2]:
2-6

-4

In [3]:
5/2

2.5

While the Modulo operator returns remainder value. **It is useful to check whether a number is even or odd<br>**
When dividing by either of number (odd or even)<br>
We'll check whether remainder is zero (i.e. whether no. is full divisible or not)

In [5]:
5%3

2

As seen In above example it returns 2--the remainder intsead of .166--the quotient.

Also has power & roots operators

**Using exponents:** its used to raise a number to a power. It allows you to perform exponentiation operations, such as raising a number to a specific power or computing roots

In [6]:
2**3

8

In [9]:
8**(1/3)

2.0

**Order of performing multiple math operations:** In Python, the order of performing multiple math operations follows the standard PEMDAS/BODMAS rules.

In [10]:
2+10*10+3

105

In [11]:
(2+10)*(10+3)

156

___
**Python is dynamically typed language** meaning variables can be re-assigned values of different data types & their assignment can change throughout the code.<br>
This means **when declaring a variable, its data type need not be mentioned, python interpretes it automatically at runtime ,based on the value asigned**<br>
This is not true of other **statically-typed** languages like C++ --where variable once declared cannot be modified to differnt data type<br>

___
### Variable assignment
All the data types and/or calculations should be assigned variables so they can be easily referenced/ called later in the code.<br>
Standard python conventions should be followed when assigning variables.

In [3]:
a=5

In [5]:
type(a)

int

In [7]:
a=5

Since a variable is dynamic, it can be re-assigned a new value.<br>
Here we'll re-assign a new value to 'a' after performing a calculation & the same object can be referenced (the variable 'a' in this case)

In [9]:
a=a+a

As seen below, the new value (basically 5+5=10) was re-assigned to 'a'

In [10]:
a

10

Since a variable's data type is not explicity defined, **variables in python can be re-assigned another value of completely different data type**<br>So we'll re-assign a value with different data type (str)

In [11]:
a="This value"

In [12]:
a

'This value'

So a is now a string variable

In [13]:
type(a)

str

In [14]:
a=0.4

In [15]:
type(a)

float

___
## String
A string is an ordered sequence of characters enclosed within either single quotes (') or double quotes (")

In [17]:
s='Python'

### Index operator 
**Returns only one character** as specified in the operation. Note that index Starts from 0

In [18]:
s[1]

'y'

In [37]:
s[-2]

'o'

___
### <code>slice()</code> operator 
Returns a substring/ subsequence of the string as defined in the operation. Its format is<br>**[start:end:step]** that is<br>
***start index(inclusive)* : *end index(exclusive)* : *how much of jump is reqd.(default 1)***

In [43]:
print(s)

Python

In [31]:
s[0:3:1]

'Pyt'

Start from 0<sup>th</sup> till the n-1<sup>th</sup> instance

In [32]:
s[0:4]

'Pyth'

In [41]:
s[0:-4]

'Py'

___
### <code>len()</code> operator
Returns length of the string

In [33]:
len(s)

6

In [35]:
##same as 
len('Python')

6

In [36]:
myString='Hello World'

In [44]:
print(myString)

Hello World

In [49]:
myString[4],myString[-3]

('o', 'r')

In [51]:
myString[2:]

'llo World'

In [52]:
myString[:5]

'Hello'

Return value from 1<sup>st</sup> index upto (6-1)<sup>th</sup> index

In [54]:
myString[1:6]

'ello '

In [56]:
myString[::2]

'HloWrd'

Take a step from the end all the way to the start of the string.<br>
<mark>**Its also an interview question to invert a string**</mark>

In [66]:
myString[::-1]

'dlroW olleH'

Return alternate characters from the string

In [72]:
myString[::2]

'HloWrd'

In [75]:
print('Hello World'[3])

l

___
### String Properties
**Immutable**: item re-assignment not allowed. So we cannot replace char within same string<br>
ordered sequence:<br>
**Ordered sequence:**
**Iterable**:can be iterate upon using loops<br>
**Support unicode char set:** so characters from various languages & symbols can be used <br>
**Escape character:** are special character sequences used to represent characters that cannot be **easily typed or represented directly in a string (new line \n or tab \t etc)

Sequence operators: concat, indexing, slicing

In [76]:
eg='Hey'

In [77]:
eg[1]

'e'

As seen below, strings are immutable

In [78]:
eg[2]='i'

TypeError: 'str' object does not support item assignment

Examples of stirng concatenation:

In [81]:
eg + ', How you doin?'

'Hey, How you doin?'

In [84]:
letter='z'

In [85]:
letter*10

'zzzzzzzzzz'

#### String Methods:
Objects in python contain built-in methods that are basically fuctions defined in an object<br>
These methods are piped to a string or the variable it is assigned to in order to get a modified string

In [86]:
x='Hello World'

In [87]:
x.upper()

'HELLO WORLD'

In [88]:
x

'Hello World'

In [89]:
x.lower()

'hello world'

In [90]:
x.capitalize()

'Hello world'

In [92]:
x.split('l')

['He', '', 'o Wor', 'd']

Many string methods can be used within the <code>print</code> function

In [93]:
sample='Hey'

___
### String interpolation
i.e. use of methods to modify strings within a string itself to generate a new string

**The .format() method:**<br>
-The entire string is defined first, leaving blanks(placeholders) & then mentioning the variables to be filled in (or strings) in the <code>.format()</code> clause.<br>
-The strings are inserted in order as mentioned in the <code>.format</code> clause.

In [96]:
print('This is a string {}'.format('inserted using .format method'))

This is a string inserted using .format method

-The strings can also be inserted using index of the placeholders:

In [100]:
print('This string {1} {2} {0}'.format('and indexing','is created','using the .format clause' ))

This string is created using the .format clause and indexing

You can also assign variables & then call them in the placeholders:

In [101]:
print('This string {c} {f} {i}'.format(i='and indexing',c='is created',f='using the .format clause' ))

This string is created using the .format clause and indexing

Float formatting : useful for formatting results from calculations

In [102]:
pi = 3.141592653589793

In [109]:
print("The value is: {pval:1.3f}".format(pval=pi))

The value is: 3.142

### The <code>.f-string()</code> method:<br>
-f-strings provide a simple and intuitive way to perform string interpolation.<br>
-expressions & variables are embedded directly into a string by prefixing it with <code>f or F</code> & using curly braces <code>{}</code> to surround the expressions.

In [110]:
pi

3.141592653589793

In [112]:
print(f'The value of pi is:{pi:1.3f}')

The value of pi is:3.142

___
### Lists
 A list is a built-in data structure used to store a collection of items. Lists are ordered, mutable (modifiable), and allow duplicate elements

In [121]:
ml=[1,2,3,18,95,77,75,'also this']

In [29]:
ml8=[1,2,3,4,{'k1':5,'k2':5}]

In [31]:
type(ml8)

list

In [122]:
ml

[1, 2, 3, 18, 95, 77, 75, 'also this']

Several operators used on Strings can also be used on Lists

In [123]:
len(ml)

8

In [124]:
ml[3]

18

In [130]:
ml[2:-1]

[3, 18, 95, 77, 75]

In [132]:
nl=[33,65,123,'from new list']

In [137]:
print(ml+nl)

[1, 2, 3, 18, 95, 77, 75, 'also this', 33, 65, 123, 'from new list']

In [139]:
newList=ml+nl

In [140]:
newList

[1, 2, 3, 18, 95, 77, 75, 'also this', 33, 65, 123, 'from new list']

A List is mutable , so its elements can be modified/re-assigned

In [144]:
ml[-2]=720

the second-last element was changed

In [145]:
ml

[1, 2, 3, 18, 95, 77, 720, 'also this']

### The <code>.append()</code> method 
Adds (appends) the specified elements to the end of a list

In [154]:
ml.append(2808)

In [158]:
ml

[1, 2, 3, 18, 95, 77, 720, 'also this', '2808', '2808', 2808]

### The <code>.pop()</code> method 
Removes items from a list & returns the value that is popped off<br>
By default it starts from the last item of the lst (i.e. at index position -1)

In [160]:
ml.pop(-1)

2808

In [162]:
ml

[1, 2, 3, 18, 95, 77, 720, 'also this', '2808', '2808']

In [163]:
ml.pop(-1)

'2808'

In [164]:
ml

[1, 2, 3, 18, 95, 77, 720, 'also this', '2808']

In [165]:
ml.pop(-1)

'2808'

In [166]:
ml

[1, 2, 3, 18, 95, 77, 720, 'also this']

In [168]:
ml.append(48)

In [169]:
ml

[1, 2, 3, 18, 95, 77, 720, 'also this', 48, 48]

In [173]:
ml.pop(-2)

48

In [176]:
ml.pop(-2)

'also this'

In [177]:
ml

[1, 2, 3, 18, 95, 77, 48]

In [182]:
ml2=[5,88,44,23,'qwe','asd','zz']

In [183]:
ml=ml+ml2

In [184]:
ml

[1, 2, 3, 18, 48, 77, 95, 5, 88, 44, 23, 'qwe', 'asd', 'zz']

In [190]:
ml

[1, 2, 3, 5, 18, 23, 44, 48, 77, 88, 95]

### The <code>Sort()</code> method:
Its an in-place method to sort the list elements in ascending value

In [191]:
ml.sort()

In [192]:
ml

[1, 2, 3, 5, 18, 23, 44, 48, 77, 88, 95]

### The <code>Reverse()</code> method: 
sorts but in descending order

In [200]:
ml.reverse()

In [201]:
ml

[95, 88, 77, 48, 44, 23, 18, 5, 3, 2, 1]

In [202]:
ml[1:]

[88, 77, 48, 44, 23, 18, 5, 3, 2, 1]

___
## Dictionaries
Its a built-in data structure used to store a collection of key-value pairs. Dictionaries are mutable, unordered, and can contain elements of different data types.

In [203]:
md={'key1':'val1','key2':'val2','key3':'val3','key4':'val4'}

In [204]:
md

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3', 'key4': 'val4'}

In [205]:
md['key2']

'val2'

In [206]:
md={'key1':123,'key2':789,'key3':[2,3,4,8],'key4':{'k1':8,'k2':4,'k3':'asd'}}

In [207]:
md

{'key1': 123,
 'key2': 789,
 'key3': [2, 3, 4, 8],
 'key4': {'k1': 8, 'k2': 4, 'k3': 'asd'}}

Now, to fetch values from the dict:

In [209]:
md['key2']

789

In [210]:
md['key3']

[2, 3, 4, 8]

Calling a list at key3 and the value at index 2:

In [212]:
md['key3'][2]

4

Calling the list at key4 and the value at key k3:

In [216]:
md['key4']['k3']

'asd'

The nested element can be called & methods can also be applied to it. So we can drill down to that element and apply the required method or interpolation

In [217]:
md['key3'].append('asd')

In [218]:
md['key3']

[2, 3, 4, 8, 'asd']

In [220]:
md['key3'][4].upper()

'ASD'

Adding a new key:value pair

In [223]:
md['key5']=95

In [225]:
md

{'key1': 123,
 'key2': 789,
 'key3': [2, 3, 4, 8, 'asd'],
 'key4': {'k1': 8, 'k2': 4, 'k3': 'asd'},
 'key5': 95}

In [227]:
md.values()

dict_values([123, 789, [2, 3, 4, 8, 'asd'], {'k1': 8, 'k2': 4, 'k3': 'asd'}, 95])

In [228]:
md.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5'])

In [229]:
md.items()

dict_items([('key1', 123), ('key2', 789), ('key3', [2, 3, 4, 8, 'asd']), ('key4', {'k1': 8, 'k2': 4, 'k3': 'asd'}), ('key5', 95)])

___
## Tuples
Tuples are similar to lists but are immutable. Their immutability makes them suitable for scenarios where you want to ensure that the contents of the collection remain unchanged.

In [234]:
mt=(a,b,17,18,18,27,19)

In [235]:
type(mt)

tuple

In [236]:
len(mt)

7

In [238]:
mt.count(18)

2

### <code>.index</code> returns the index position
of a value the very first time it occurred

In [240]:
mt.index(18)

3

In [244]:
mt.index(27)

5

___
## Sets
A collection of unique & unordered elements. Sets are similar to mathematical sets & provide operations for performing common set operations, such as union, intersection, difference &symmetric difference

In [1]:
ms=set()

In [3]:
ms.add(1)

In [8]:
mlist=[1,1,1,1,2,2,2,2,333,4,5,6,7,8]

We can cast a list as a set. NOTE that in doing so, only unique values will be replaced

In [9]:
set(mlist)

{1, 2, 4, 5, 6, 7, 8, 333}

___
## Boolean operators
A boolean value can be either True or False, and it is used to evaluate conditions in logical expressions and control flow statements<br>
Below are examples returning either True or False based on the logic operation

In [11]:
False

False

In [12]:
type(False)

bool

In [13]:
1>2

False

In [14]:
2>-2

True

In [15]:
1==1

True

In [17]:
b=None

In [18]:
type(b)

NoneType

### I/O handling

Creating a .txt file. If no path is specified, the file will be be created to the default path where the Jupyter nb is created

In [19]:
%%writefile thisfile.txt
Hi this is a text file
This is the second line
This is the third line

Writing thisfile.txt

In [20]:
thisfile=open('thisfile.txt')

### The <code>pwd()</code> keyword 
prints working directory of the Jupyter nb or the file name (as specified in its parenthesis)

In [23]:
pwd(thisfile.txt)

'c:\\Users\\H359416\\Desktop\\RESOURCES\\a_Pyzza'

In [29]:
thisfile=open('thisfile.txt')

<code>file.read()</code>: Reads the entire file content into a string. Line breaks are denoted by <code>\n</code><br>
Note this func is a one time operation & it literally behaves similar to a person reading a file.<br> 
i.e. from start to end & once done reading, its cursor will be at end position.

In [30]:
thisfile.read()

'Hi this is a text file\nThis is the second line\nThis is the third line\n'

So if we try re-read the file, it'll return a blank char as **the cursor position is at end** & this position needs to be reset everytime. Thus,We need to <code>open</code> the file again...

In [31]:
thisfile.read()

''

In [37]:
thisfile.seek(0)

0

In [36]:
thisfile.read()

'Hi this is a text file\nThis is the second line\nThis is the third line\n'

<code>file.readline()</code> : Reads a all lines from the file & presents in form of a list. Note the <code>\n</code> char will still be there

In [39]:
thisfile.readlines()

['Hi this is a text file\n',
 'This is the second line\n',
 'This is the third line\n']

Note that we need to pass a <code>close</code> func to close file

In [40]:
thisfile.close()

None of the file handling methods would work on a closed file. You'll need to <code>open</code> it again

In [41]:
thisfile.seek(0)

ValueError: I/O operation on closed file.

### Best practices in file handling
A context manager statement <code>with</code> is used to automatically close the file when you're done with it.<br> 
When using jupyter nb, its best to open & close a file in same operation to avoid clashes with read/write/edit operations elsewhere on the computer

In [42]:
with open('thisfile.txt') as a_new_file:
    contents=a_new_file.read()

In [43]:
contents

'Hi this is a text file\nThis is the second line\nThis is the third line\n'

Exploring the various modes of the <code>with</code> statement

In [10]:
%%writefile thisfile.txt
Hi this is a text file
This is the second line
This is the third line

Overwriting thisfile.txt

**Modes of the context manager clause:**<br>
r :read mode for existing file. Cursor position needs to be reset<br>
r :read mode to read existing file<br>
w :write mode to overwrite existing file<br>
a :append mode to add data to existing file ;else creates new file<br>
r+:read+write mode for existing file else returns err if file not found. Cursor from starting position<br>
w+:read+write mode for existing file else creates new file

In [1]:
with open('thisfile.txt',mode='r') as n_file:
    readfile=n_file.read()

In [2]:
readfile

'Hi this is a text file\nThis is the second line\nThis is the third line\n'

**Caution:** below mode will entirely overwrite our file with the specified line

In [7]:
with open('thisfile.txt',mode='w') as f:
    f.write('\nAdded new Line')

In [12]:
##with open('thisfile.txt',mode='r') as f:
   ## print(f.read())

In [16]:
thisfile=open('thisfile.txt')

In [18]:
thisfile.readlines()

['Hi this is a text file\n',
 'This is the second line\n',
 'This is the third line\n']

In [21]:
with open('thisfile.txt',mode='a') as fnl:
   print(fnl.write('\nAdded another line'))

19

In [22]:
with open('thisfile.txt',mode='r') as fnl:
    print(fnl.read())

Hi this is a text file
This is the second line
This is the third line

Added this line
Added another line

In [25]:
9**(1/2)

3.0